/* smaller phones (e.g iphone 5)*/
@media screen and (max-width: 360px ){
    h2 {font-size: 1.5rem;}
    h3 {font-size: 1.0rem;}
}
/*bigger phones*/
@media screen and (min-width: 361px ){
    /* that is actually the default when using bootstrap*/
    h2 {font-size: 1.8rem;}
    h3 {font-size: 1.22rem;}
    img {
        width: 200px;
        height: auto;
    }
}


.container{
    max-width:750px;
   /* margin:0 auto;/*make it centered*/
}

.icon {
    color: #472b62;
}

.hidden {
    display: none;
}

.price {
    margin: 0.5rem 0 0 0!important;
    padding: 0!important;
}