/* smaller phones (e.g iphone 5)*/
@media screen and (max-width: 360px ){
    h2 {font-size: 1.5rem;}
    h3 {font-size: 1.0rem;}
}
/*bigger phones*/
@media screen and (min-width: 361px ){
    /* that is actually the default when using bootstrap*/
    h2 {font-size: 1.8rem;}
    h3 {font-size: 1.22rem;}
    img {
        width: 200px;
        height: auto;
    }
}


th {
    font-size: 1.3rem;
}

td {
    /*font-family: 'Ubuntu', sans-serif;*/
    font-weight:600;
    font-size: 1.2rem;
}

td>p {
    font-weight: normal;
    font-family: 'Roboto Slab', serif;
}

.container{
    max-width:750px;
   /* margin:0 auto;/*make it centered*/
}

.icon {
    color: #322D4B;
}

.hidden {
    display: none;
}

.price {
    margin: 0.5rem 0 0 0!important;
    padding: 0!important;
}


@media screen and (max-width:800px){
    #simulatorLink {
        position: fixed;
        left: 85%;
        bottom: 3%;
    }
}

@media screen and (min-width: 801px){
    #simulatorLink {
        position: fixed;
        left: 75%;
        bottom: 3%;
    }
}
